<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
     crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
    <a class="navbar-brand" href="{{ url_for('home') }}">SB</a>
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
      <li class="nav-item">
        <a href="{{ url_for('aboutMe') }}" class="nav-link">About me</a>
      </li>
      <li class="nav-item"><a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
    </ul>
    </nav>
    </header>
    <Section>Studencik pracujący na helpdesku, wyszkolony pod okiem słynnej profesor Józefy "JJ" Janiuk, filantrop, playboy, po godzinach zbieracz puszek na złom</Section>
    <footer>Developed by Sebastian "Sebuś" Binkowski</footer>

</body>
</html>